@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}
body {
    padding: 0 70px;
    position: relative;
    background-color: #ec53860c;
}

body::before {
    position: absolute;
    content: '';
    width: 14rem;
    height: 14rem;
    background-color: #ec5386;
    border-radius: 50%;
    filter: blur(150px);
    top: 12rem;
}

body::after {
    position: absolute;
    content: '';
    width: 14rem;
    height: 14rem;
    background-color: #ec5386;
    border-radius: 50%;
    filter: blur(140px);
    right: 0;
    top: 0;
    z-index: -100;
}

/* Header Section */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

.logo img {
    width: 50px;
    cursor: pointer;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.nav-bar-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-bar-links a {
    text-decoration: none;
    color: #f91360;
    position: relative;
    font-size: 1.1rem;
}

.nav-bar-links a:before {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background-color: #ea2265;
    bottom: -2px;
}

.nav-bar-links a:hover {
    color: #ec5386;
    transition: all .4s ease-in-out;
}

.nav-bar-links a:hover::before{
    width: 70%;
    transition: width .4s ease-in-out;
}

.nav-bar-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-icon {
    display: none;
}

.cart-icon {
    position: relative;
}

.cart-icon img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    color: #f91360;
    padding: 6px 16px;
    border-radius: 4px;
}

.cart-icon span {
    position: absolute;
    color: rgb(192, 0, 0);
    top: 0;
    right: 22px;
    border-radius: 50%;
    font-size: .9rem;
    font-weight: bold;
}

.cart-icon span {
    padding: 2px 7px;
}

/* HOME PAGE */
.hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
    height: 80vh;
}

.hero-context {
    max-width: 38rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pages-header {
    font-size: 2.3rem;
    line-height: normal;
}

.pages-header span {
    color: #ea2265;
}

.pri-button {
    padding: 10px;
    border-radius: 8px 24px; 
    border: 0;
    background-color: #ea2265;
    color: #fff;
    cursor: pointer;
}

.here-image img {
    max-width: 30rem;
    width: 18rem;
    animation: float-juice infinite 5s;
}

/* About Us page */
.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.about-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
}

.about-body .image-section img {
    max-width: 28rem;
    width: 22rem;
}

.about-body .detail-section {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

.about-body .detail-section p{
    max-width: 38rem;
    width: 22rem;
    padding-right: 20px;
}

/* Menu Page */
.menu-page {
    margin-bottom: 4rem;
    background-color: #fff;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3rem;
}

.menu-header p {
    width: 100%;
    text-align: center;
    font-size: .8rem;
}

.menu-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    border-top: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
}


.product-container {
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}

.product-container .product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.product-container .product-image img {
    width: 80%;
    height: 100%;
}

.product-detail {
    padding: 0 .8rem;
    display: flex;
    flex-direction: column;
}

.product-name {
    color: #eb1059;
    font-size: 1.3rem;
}

.price {
    padding: .6rem 0;
}

.rating img {
    width: 100px;
}

.add-to-cart {
    padding: 10px;
    border-radius: 8px 24px; 
    border: 0;
    background-color: #ea2265;
    color: #fff;
    cursor: pointer;
    margin: 1rem 0;
}


/* Tablet Responsive*/
@media (max-width: 778px) {
    body {
        padding: 0 45px;
    }

    body::before {
        width: 12rem;
        height: 12rem;
    }

    body::after {
        width: 12rem;
        height: 12rem;
    }

    .menu-icon {
        display: flex;
    }

    .nav-bar {
        position: relative;
    }

    .nav-bar-links {
        position: absolute;
        display: none;
        flex-direction: column;
        gap: .5rem;
        background-color: #ff93b73a;
        padding: 10px;
        border-radius: 6px;
        top: 2.2rem;
        right: -45px;
        width: 200px;
        transition: all .3s ease;
    }

    .open {
        display: flex;
        transition: all .3s ease;
    }

    /* Home Page */
    .hero-section  {
        flex-direction: column;
        margin-top: 6rem;
        justify-content: center;
        gap: 2.6rem;
    }

    .hero-context {
        width: 100%;
    }
    
    .pages-header {
        font-size: 1.6rem;
        line-height: normal;
    }

    .here-image img {
        width: 100%;
    }

    /* About Us Page */
    .about-body {
        flex-direction: column;
    }

    .detail-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* Mobile Responsive */
@media (max-width: 416px) {
    body {
        padding: 0 28px;
    }
    /* Home Page */
    .hero-section {
        margin-top: 2rem;
    }
    /* About Us Page */
    .about-body .image-section img {
        width: 100%;
    }
    .about-body .detail-section p {
        width: 100%;
    }
}

/* Animation hero image */
@-webkit-keyframes float-juice {
  0%{
    transform: translateY(0) rotate(-15deg);
  }

  50% {
    transform: translateY(-1.5rem) rotate(-15deg);
  }

  100% {
    transform: translateY(0) rotate(-15deg);
  }
}