@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}
body {
    position: relative;
    background-color: #ec53860c;
}

body::before {
    position: absolute;
    content: '';
    width: 14rem;
    height: 14rem;
    background-color: #ec5386;
    border-radius: 50%;
    filter: blur(150px);
    top: 12rem;
}

body::after {
    position: absolute;
    content: '';
    width: 14rem;
    height: 14rem;
    background-color: #ec5386;
    border-radius: 50%;
    filter: blur(140px);
    right: 0;
    top: 0;
    z-index: -100;
}

/* HOME PAGE */
.hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
    height: 80vh;
}

.hero-context {
    max-width: 38rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pages-header {
    font-size: 2.3rem;
    line-height: normal;
}

.pages-header span {
    color: #ea2265;
}

.pri-button {
    padding: 10px;
    border-radius: 8px 24px; 
    border: 0;
    background-color: #ea2265;
    color: #fff;
    cursor: pointer;
}

.here-image img {
    max-width: 30rem;
    width: 18rem;
    animation: float-juice infinite 3.6s;
}

/* About Us page */
.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.about-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
}

.about-body .image-section img {
    max-width: 28rem;
    width: 22rem;
}

.about-body .detail-section {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

.about-body .detail-section p{
    max-width: 38rem;
    width: 22rem;
    padding-right: 20px;
}

/* Menu Page */
.menu-page {
    margin-bottom: 4rem;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3rem;
}

.menu-header p {
    width: 100%;
    text-align: center;
    font-size: .8rem;
}

.menu-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    border-top: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
}


.product-container {
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}

.product-container .product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.product-container .product-image img {
    width: 80%;
    height: 100%;
}

.product-detail {
    padding: 0 .8rem;
    display: flex;
    flex-direction: column;
}

.product-name {
    color: #eb1059;
    font-size: 1.3rem;
}

.price {
    padding: .6rem 0;
}

.rating img {
    width: 100px;
}

.add-to-cart {
    padding: 10px;
    border-radius: 8px 24px; 
    border: 0;
    background-color: #ea2265;
    color: #fff;
    cursor: pointer;
    margin: 1rem 0;
}


/* Tablet Responsive*/
@media (max-width: 778px) {
    body::before {
        width: 12rem;
        height: 12rem;
    }

    body::after {
        width: 12rem;
        height: 12rem;
    }

    /* Home Page */
    .hero-section  {
        flex-direction: column;
        margin-top: 6rem;
        justify-content: center;
        gap: 2.6rem;
        padding: 0 10vw;
    }

    .hero-context {
        width: 100%;
    }
    
    .pages-header {
        font-size: 1.6rem;
        line-height: normal;
    }

    .here-image img {
        width: 100%;
    }

    /* About Us Page */
    .about-us {
        padding: 0 10vw;
    }
    .about-body {
        flex-direction: column;
    }

    .detail-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* Mobile Responsive */
@media (max-width: 416px) {
    /* Home Page */
    .hero-section {
        margin-top: 2rem;
    }
    /* About Us Page */
    .about-body .image-section img {
        width: 100%;
    }
    .about-body .detail-section p {
        width: 100%;
    }
}

/* Animation hero image */
@-webkit-keyframes float-juice {
  0%{
    transform: translateY(0) rotate(-15deg);
  }

  50% {
    transform: translateY(-1.5rem) rotate(-15deg);
  }

  100% {
    transform: translateY(0) rotate(-15deg);
  }
}